<div *ngIf="gameById" class="container about-game">
    <span class="game-title">{{gameById.title}}</span>

    <div class="image-and-desc">
        <img class="cover" [src]="gameById.cover_image_path" alt="">
        <p class="desc">{{gameById.about_game}}</p>
        <div class="more-images">
            <img *ngFor="let img of gameById.more_image_url" class="image" [src]="img">
        </div>
    </div>

    <div class="params">
        <div class="top-side">
            <span class="system">System Requirements</span>
        </div>

        <div class="requirements">
            <table valign="top" border="0" class="requirements-table">
                 <tbody>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">Graphics settings at 1920*1080 resolution</th>
                    </tr>
                    <tr>
                        <th>Low</th>
                        <th>Medium</th>
                        <th>High</th>
                    </tr>
                    <tr>
                        <td>Operating system</td>
                        <td *ngFor="let operation of gameById.operation_system">{{operation}}</td>
                    </tr>
                    <tr>
                        <td>Processor (CPU)</td>
                        <td *ngFor="let processor of gameById.processor">{{processor}}</td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td *ngFor="let ram of gameById.ram">{{ram}}</td>
                    </tr>
                    <tr>
                        <td>Video card (GPU)</td>
                        <td *ngFor="let video_card of gameById.video_card">{{video_card}}</td>
                    </tr>
                    <tr>
                        <td>Hard disc</td>
                        <td class="gb-td" colspan="3">{{gameById.disc}}</td>
                    </tr>
                    <tr>
                        <td>Version DirectX</td>
                        <td *ngFor="let directX of gameById.directX">{{directX}}</td>
                    </tr>
                    <tr>
                        <td>Internet connection</td>
                        <td class="gb-td" colspan="3">{{gameById.internet}}</td>
                    </tr>
                    <tr>
                        <td>Expected average frame rate in PvE missions</td>
                        <td *ngFor="let pve of gameById.pve">{{pve}}</td>

                    </tr>
                    <tr>
                        <td>Expected average frame rate in PvP battles</td>
                        <td *ngFor="let pvp of gameById.pvp">{{pvp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bottom-side">
            <div class="price-side">
                <ng-container *ngIf="gameById.sale; else noSale">
                <span class="sale">- {{gameById.sale}}%</span>
                <span class="price line"><span>{{gameById.price}}$ </span></span>
                <span class="price">{{calculateSale(gameById.price, gameById.sale)}}$</span>
                </ng-container>
            </div>
            <button class="download">Download</button>
            <button class="download wishlist">Save to wishlist</button>
        </div>
    </div>

    <ng-template #noSale>
        <span class="price">Price: <span>{{gameById.price}}$ </span></span>
    </ng-template>
</div>
