<div class="footer">
    <div class="container">
        <div class="sections">
            <ul class="section">
                <li class="item header">{{'footer.live_stream' | translate}}</li>
                <li class="item">Fortnite</li>
                <li class="item">PubG</li>
                <li class="item">Grand Teft Auto</li>
                <li class="item">Minecraft</li>
                <li class="item">{{'footer.more' | translate}}</li>
            </ul>

            <ul class="section">
                <li class="item header">{{'footer.home' | translate}}</li>
                <li class="item">{{'footer.about_us' | translate}}</li>
                <li class="item">{{'footer.privacy_policy' | translate}}</li>
                <li class="item">{{'footer.contact_us' | translate}}</li>
            </ul>

            <ul class="section">
                <li class="item header">{{'footer.social_media' | translate}}</li>
                <li class="item">Linkedin</li>
                <li class="item">Github</li>
                <li class="item">Instagram</li>
                <li class="item">Facebook</li>
                <li class="item">Twitter</li>
            </ul>

            <ul class="section">
                <li class="item header">{{'footer.payment' | translate}}</li>
                <li class="item">{{'footer.payment_privacy' | translate}}</li>
                <li class="item">{{'footer.payment_methods' | translate}}</li>
                <li class="item">{{'footer.cards' | translate}}</li>
            </ul>
        </div>
    </div>
</div>
