<div class="footer">
    <div class="container">
        <div class="sections">
            <ul class="section">
                <li class="item header">Live Streams</li>
                <li class="item">Fortnite</li>
                <li class="item">PubG</li>
                <li class="item">Grand Teft Auto</li>
                <li class="item">Minecraft</li>
                <li class="item">More...</li>
            </ul>

            <ul class="section">
                <li class="item header">Home</li>
                <li class="item">About Us</li>
                <li class="item">Privacy Policy</li>
                <li class="item">Contact Us</li>
            </ul>

            <ul class="section">
                <li class="item header">Social Media</li>
                <li class="item">Linkedin</li>
                <li class="item">Github</li>
                <li class="item">Instagram</li>
                <li class="item">Facebook</li>
                <li class="item">Twitter</li>
            </ul>

            <ul class="section">
                <li class="item header">Payment</li>
                <li class="item">Payment Privacy</li>
                <li class="item">Payment Methods</li>
                <li class="item">Cards</li>
            </ul>
        </div>
    </div>
</div>
