/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body{
    background-color: #121212;
    overflow-x: hidden;
}
.toast-success{
    background-color: #007AFF !important;
}

@media(max-width: 991px){
    .container{
        width: 100%;
        max-width: 100%;
    }
}