.header{
    .header-side{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right-side{
            .options-ul{
                overflow-y: hidden;
                display: flex;
                align-items: center;
                list-style-type: none;
                padding: 0;
                margin: 0;
                .list{
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    &:hover{
                        cursor: pointer;
                    }
                    .icon{
                        margin-right: 10px;
                    }
                    .user-name{
                        font-weight: 500;
                        color: #E7E7E7;
                        font-size: 14px;
                    }
                    &.login{
                        padding: 15px 50px;
                        background-color:#007AFF;
                    }
                }
                .language{
                    position: absolute;
                    height: 125px;
                    width: 157px;
                    border-radius: 5px;
                    z-index: 9;
                    background-color: #505050;
                    transform: translate(9px, -777px);
                    transition: all .5s;
                    padding: 5px;
                    &.active{
                        transform: translate(9px, 77px);
                    }
                    .language-item{
                        border-radius: 5px;
                        transition: all .5s;
                        font-size: 16px;
                        font-weight: 700;
                        color: white;
                        display: block;
                        padding: 5px;
                        margin-bottom: 5px;
                        padding-left: 10px;
                        &:hover{
                            cursor: pointer;
                            background-color: #007AFF;
                        }
                        &.active{
                            background-color: #007AFF;
                        }
                        
                    }
                }
            }
        }
        .left-side{
            display: flex;
            align-items: center;
            .logo{
                &:hover{
                    cursor: pointer;
                }
            }
            .nav-side{
                display: flex;
                align-items: center;
                .item{
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    position: relative;
                    margin-left: 20px;
                    transition: all .5s;
                    &:hover{
                        cursor: pointer;
                        .line{
                        width: 100%;
                    }
                    }
                    &.active{
                        .line{
                            width: 100%;
                        }
                    }
                    .line{
                        width: 0%;
                        height: 4px;
                        background-color: #007AFF;
                        display: block;
                        transition: all .5s;
                        border-radius: 5px;
                    }
                    .live{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: red;
                        border-radius: 5px;
                        padding: 1px;
                        height: 20px;
                        font-size: 10px;
                        width: 30px;
                        transform: translate(30px, -9px);
                        text-align: center;
                    }
                }
            }
        }
    }
}