<div class="header">
    <div class="container header-side">
        <div class="left-side">
            <img src="../../../../assets/images/icons/logo.svg" alt="">
        </div>
        <div class="right-side">
            <ul class="options-ul">
                <li class="list">
                    <img class="icon" src="../../../../assets/images/icons/language.svg" alt="">
                </li>

                <li class="list">
                    <img class="icon" src="../../../../assets/images/icons/user.svg" alt="">
                    <span class="user-name">John</span>
                </li>

                <li class="list login">
                    <span class="user-name">Login</span>
                </li>
            </ul>
        </div>
    </div>
</div>
