<div (ngxOutsideClick)="outsideClick()" class="header">
    <div class="container header-side">
        <div class="left-side">
            <img src="../../../../assets/images/icons/logo.svg" alt="">
            <div  class="nav-side">
                <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/home" class="item">
                    Home
                    <span class="line"></span>
                </a>

                <a routerLink="/all-games" routerLinkActive="active" class="item">
                    All Games
                    <span class="line"></span>
                </a>

                <a routerLink="/wishlist" routerLinkActive="active" class="item">
                    Wishlist
                    <span class="line"></span>
                </a>

                <a routerLink="/live-games" routerLinkActive="active" class="item">
                    Live Streams
                    <span class="live">LIVE</span>
                    <span class="line"></span>
                </a>

            </div>
        </div>
        <div class="right-side">
            <ul class="options-ul">
                <li (click)="showLanguageBlock()" class="list">
                    <img class="icon" src="../../../../assets/images/icons/language.svg" alt="">
                </li>

                <li class="list">
                    <img class="icon" src="../../../../assets/images/icons/user.svg" alt="">
                    <span class="user-name">John</span>
                </li>

                <li (click)="openDialog()" class="list login">
                    <span class="user-name">Login</span>
                </li>
                <li [ngClass]="{'active': showLanguage}" class="language">
                    <span *ngFor="let language of languages; let i = index" class="language-item" [ngClass]="{'active': selectedLanguage === i}" (click)="selectLanguage(language.title,i)">{{language.title}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
