<div class="container">
    <h2 class="wishlist-title">Wishlist</h2>
</div>
<app-search (searchValueEmitter)="searchGame($event)"></app-search>
<div class="all-games container">
    <div *ngFor="let game of filteredGames | paginate: { itemsPerPage: 8, currentPage: currentPage }" class="game" (click)="redirectToAboutGamePage(game.id)">
        <div *ngIf="game.sale" class="sale">
            <span class="sale-percent">- {{game.sale}}%</span>
        </div>
        <img class="img" [src]="game.image_url" alt="">
        <div class="price-and-title">
            <span class="title">{{game.title}}</span>
            <ng-container *ngIf="game.sale;else noSale">
            
            <span class="price">{{'old_price' | translate}}: <span class="minus-price">{{game.price}}$</span></span>
            <span class="price">{{'new_price' | translate}}: {{calculateSale(game.price, game.sale)}}$</span>
            </ng-container>
            <ng-template #noSale>
                <span class="price">{{'price' | translate}}: {{game.price}}$</span>
            </ng-template>
        </div>
    </div>
    <div class="game empty"></div>
    <div class="game empty"></div>
    <div class="game empty"></div>
</div>

<div *ngIf="filteredGames.length !== 0" class="price-side container">
<span class="total-price">{{'total' | translate}}: {{sumOfGames}}$</span>
</div>

<div *ngIf="filteredGames?.length === 0 && isSearch" class="no-result">OOPS` We don't have such a game</div>
<div *ngIf="allGames?.length === 0" class="no-result">You have't added a game yet</div>
<ng-container *ngIf="filteredGames?.length !== 0">
<pagination-controls (pageChange)="changePage($event)"></pagination-controls>
</ng-container>

