.all-games{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .game{
        border-radius: 15px;
        width: 300px;
        height: 400px;
        margin-bottom: 30px;
        position: relative;
        transition: all .5s;
        &.empty{
            pointer-events: none;
            height: 0;
            &::after{
                display: none;
            }
        }
        &:hover{
            box-shadow: 0px 0px 7px 0px white;
            cursor: pointer;
        }
        .sale{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ff8500;
            clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0% 100%, 0 50%, 0% 0%);
            transform: rotate(90deg) translate(0px, 25px);
            .sale-percent{
                font-weight: 500;
                font-size: 15px;
                color: white;
                display: block;
                transform: rotate(-90deg) translate(-7px, -5px);
            }
        }
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(26,25,25,0.7679446778711485) 26%, rgba(103,100,100,0) 79%, rgba(255,248,248,0) 100%);
            display: block;
            z-index: 9;
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
        .price-and-title{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 99;
            transform: translate(0px, -40px);
            .title{
                color: white;
                font-size: 20px;
                font-weight: 500;
            }
            .price{
                font-weight: 700;
                color: white;
                letter-spacing: 2px;
                .minus-price{
                    text-decoration: line-through;
                }
            }
        }
    }
}
::ng-deep{
    .ngx-pagination{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;    
        li{
            width: 36px;
            height: 36px;
            color: white;
            font-weight: 500;
            margin-right: 20px !important;
            &:last-child{
                margin-right: 0 !important;
            }
            a{
                padding-top: 5px;
                width: 36px;
                height: 36px;
                &:hover{
                    background-color: #007AFF;
                }
            }
            
            &.pagination-previous{
                font-size: 0;
                background-image: url('../../../assets/images/icons/arrow-right.svg');
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(180deg);
                a{
                    &:hover{
                        background-color: transparent !important;
                    }
                }
            }
            &.pagination-next{
                font-size: 0;
                background-image: url('../../../assets/images/icons/arrow-right.svg');
                background-repeat: no-repeat;
                background-position: center;
                a{
                    width: 36px;
                    height: 36px;
                    &:hover{
                        background-color: transparent !important;
                    }
                }
            }
            &.current{
                background-color: #007AFF;
            }
            &.disabled{
                pointer-events: none !important;
                opacity: 0.5;
            }
            span{
                padding-top: 3px !important;
                display: block;
            }
        }
    }
    }
.no-result{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
}