<div class="container hot-games">
    <div class="image-side">
        <img [src]="selectedGameImageUrl" alt="" class="selected-img">
        <div class="about-side">
            <span class="title">{{selectedGame?.title}}</span>
            <span class="desc">{{selectedGame?.about_game}}</span>
            <div class="btn-div">
            <button *ngIf="!wishGamesId.toString().includes(''+selectedGame?.id); else remove" class="add" (click)="addToWishList(selectedGame.id,selectedGame.title)">Save to Wishlist</button>
            <button class="add" (click)="redirectToAboutGamePage(selectedGame.id)">Download</button>
        </div>
        </div>
    </div>
    <div class="games-side">
        <ng-container *ngFor="let game of allGames; let i = index">
        <div *ngIf="i < 7" (click)="selectGame(game,i)" [ngClass]="{'active': selectedIndex === i}"  class="game">
            <img class="game-img" [src]="game.image_url" alt="">
            <span class="game-name">{{game.title}}</span>
        </div>
        </ng-container>
    </div>
</div>

<ng-template #remove>
    <button  (click)="removeFromWishList(selectedGame.id, selectedGame.title)" class="remove">Remove from Wishlist</button>
 </ng-template>
