/* width */
.games-side::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .games-side::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .games-side::-webkit-scrollbar-thumb {
    background: #007AFF;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .games-side::-webkit-scrollbar-thumb:hover {
    background: #007AFF; 
  }
.hot-games{
    margin-top: 30px;
    height: 648px;
    display: flex;
    .image-side{
        width: 100%;
        position: relative;
        border-radius: 15px;
        .selected-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        &::after{
            content: "";
            position: absolute;
            background: black;
            background: linear-gradient(0deg, #0000008f 0%, #b9b9b926 100%);
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            border-radius: 15px;

        }
        .about-side{
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            z-index: 9;
            transform: translate(50px, -50px);
            .title{
                font-size: 16px;
                color: white;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .desc{
                max-width: 500px;
                font-size: 16px;
                color: white;
                font-weight: 700;
                margin-bottom: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 27px;
            }
            .btn-div{
            .add{
                min-width: 160px;
                height: 50px;
                background: #007AFF;
                border-radius: 4px;
                border: none;
                font-size: 16px;
                font-weight: 700;
                color: white;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .remove{
                min-width: 200px;
                height: 50px;
                background: #008578;
                border-radius: 4px;
                border: none;
                font-size: 16px;
                font-weight: 700;
                color: white;
                margin-right: 10px;
            }
            }

        }
    }
    .games-side{
        margin-left: 20px;
        width: 300px;
        height: auto;
        overflow-y: scroll;
        padding-right: 5px;

        .game{
            padding-left: 20px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            height: 102px;
            margin-bottom: 20px;
            transition: all .5s;
            .game-img{
                width: 60px;
                height: 80px;
            }
            .game-name{
                margin-left: 16px;
                font-size: 16px;
                color: white;
            }
            &.active{
                background-color: #252525;
            }
            &:hover{
                cursor: pointer;
                background-color: #252525;
            }
        }
    }
}